build/.ninja_deps
build/.ninja_log
build/build.ninja
build/cmake_install.cmake
build/CMakeCache.txt
build/compile_commands.json
build/.cmake/api/v1/query/client-vscode/query.json
build/.cmake/api/v1/reply/cache-v2-1395860bd394d6ae1ffb.json
build/.cmake/api/v1/reply/codemodel-v2-14b5b3b003830d6f3b5b.json
build/.cmake/api/v1/reply/directory-.-Debug-bfd9abd975af0fab4529.json
build/.cmake/api/v1/reply/index-2022-08-19T23-14-52-0289.json
build/.cmake/api/v1/reply/target-QRScanner_autogen_timestamp_deps-Debug-fffabb982b8c1e8b326a.json
build/.cmake/api/v1/reply/target-QRScanner_autogen-Debug-7e9f11cec7ae256ce921.json
build/.cmake/api/v1/reply/target-QRScanner-Debug-42874b342e1ee7d1160c.json
build/.cmake/api/v1/reply/toolchains-v1-64933dbb4f4ddafb8854.json
build/.qt/QtDeploySupport.cmake
build/CMakeFiles/clean_additional.cmake
build/CMakeFiles/cmake.check_cache
build/CMakeFiles/CMakeOutput.log
build/CMakeFiles/rules.ninja
build/CMakeFiles/TargetDirectories.txt
build/CMakeFiles/3.23.2/CMakeCXXCompiler.cmake
build/CMakeFiles/3.23.2/CMakeDetermineCompilerABI_CXX.bin
build/CMakeFiles/3.23.2/CMakeSystem.cmake
build/CMakeFiles/3.23.2/CompilerIdCXX/a.out
build/CMakeFiles/3.23.2/CompilerIdCXX/CMakeCXXCompilerId.cpp
build/CMakeFiles/QRScanner.dir/Benchmark.cpp.o
build/CMakeFiles/QRScanner.dir/main.cpp.o
build/CMakeFiles/QRScanner.dir/mainwindow.cpp.o
build/CMakeFiles/QRScanner.dir/QRScanner_autogen/mocs_compilation.cpp.o
build/CMakeFiles/QRScanner_autogen.dir/AutogenInfo.json
build/CMakeFiles/QRScanner_autogen.dir/AutogenUsed.txt
build/CMakeFiles/QRScanner_autogen.dir/ParseCache.txt
build/CMakeFiles/d/2d7bbf4be64739a02d2175b5e5649eaabcc860aa33ad6d7e6fd618ddaacccf7a.d
build/QRScanner_autogen/deps
build/QRScanner_autogen/moc_predefs.h
build/QRScanner_autogen/mocs_compilation.cpp
build/QRScanner_autogen/timestamp
build/QRScanner_autogen/EWIEGA46WW/moc_mainwindow.cpp
build/QRScanner_autogen/EWIEGA46WW/moc_mainwindow.cpp.d
build/QRScanner_autogen/include/ui_mainwindow.h
