# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps


build
CMakeLists.txt.user
group_2.csv
out_group_1.csv
group_1.csv
CMakeLists.txt.user
/.idea/.gitignore
/build-ninja/.ninja_deps
/build-ninja/.ninja_log
/build-ninja/build.ninja
/build-ninja/.cmake/api/v1/query/cache-v2
/build-ninja/.cmake/api/v1/reply/cache-v2-fdabc50c879bd5ddbfa0.json
/build-ninja/.cmake/api/v1/query/cmakeFiles-v1
/build-ninja/.cmake/api/v1/reply/cmakeFiles-v1-8e3d9d751fb52f9f9bf5.json
/build-ninja/.cmake/api/v1/query/codemodel-v2
/build-ninja/.cmake/api/v1/reply/codemodel-v2-806641a99160527e1c2f.json
/build-ninja/src/QRScanner_autogen/deps
/build-ninja/.cmake/api/v1/reply/directory-.-Debug-f5ebdc15457944623624.json
/build-ninja/.cmake/api/v1/reply/directory-src-Debug-b6cf2213fc5053b67c22.json
/build-ninja/.cmake/api/v1/reply/index-2022-08-25T21-00-51-0899.json
/.idea/misc.xml
/build-ninja/src/QRScanner_autogen/EWIEGA46WW/moc_Capture.cpp
/build-ninja/src/QRScanner_autogen/EWIEGA46WW/moc_DetectedQRDialog.cpp
/build-ninja/src/QRScanner_autogen/EWIEGA46WW/moc_Dropdown.cpp
/build-ninja/src/QRScanner_autogen/EWIEGA46WW/moc_EmailToolDialog.cpp
/build-ninja/src/QRScanner_autogen/EWIEGA46WW/moc_mainwindow.cpp
/build-ninja/src/QRScanner_autogen/moc_predefs.h
/build-ninja/src/QRScanner_autogen/mocs_compilation.cpp
/.idea/modules.xml
/build-ninja/src/QRScanner
/.idea/QRScanner.iml
/build-ninja/.qt/QtDeploySupport.cmake
/build-ninja/.cmake/api/v1/reply/target-QRScanner-Debug-bf9eb2843e8967edf1c8.json
/build-ninja/.cmake/api/v1/reply/target-QRScanner_autogen-Debug-78ff9dee6aa71c8ce77b.json
/build-ninja/.cmake/api/v1/reply/target-QRScanner_autogen_timestamp_deps-Debug-d456f16896d4fa7f6017.json
/build-ninja/src/QRScanner_autogen/timestamp
/build-ninja/.cmake/api/v1/query/toolchains-v1
/build-ninja/.cmake/api/v1/reply/toolchains-v1-cbf7329d39bb1de940c7.json
/build-ninja/src/QRScanner_autogen/include/ui_DetectedQRDialog.h
/build-ninja/src/QRScanner_autogen/include/ui_Dropdown.h
/build-ninja/src/QRScanner_autogen/include/ui_EmailToolDialog.h
/build-ninja/src/QRScanner_autogen/include/ui_mainwindow.h
/.idea/vcs.xml
.cache/clangd/index/Benchmark.cpp.745120832CD04954.idx
.cache/clangd/index/Benchmark.h.2FE125EBD0CC1F5F.idx
.cache/clangd/index/CSVParser.cpp.2173F1DCA7CCE47C.idx
.cache/clangd/index/CSVParser.h.0D1A0CB18E079BA4.idx
.cache/clangd/index/DetectedQRDialog.cpp.E42963F56A317A8C.idx
.cache/clangd/index/DetectedQRDialog.h.A02055745F2AFB17.idx
.cache/clangd/index/Dropdown.cpp.16D598E3B90BADF2.idx
.cache/clangd/index/Dropdown.h.A3BE39048DE3775B.idx
.cache/clangd/index/EmailToolDialog.cpp.E9FC34B0B95D8450.idx
.cache/clangd/index/EmailToolDialog.h.8129DE01D908524D.idx
.idea/inspectionProfiles/Project_Default.xml
